html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("../fonts/MuseoSansCyrl.woff") format("woff"),
    url("../fonts/MuseoSansCyrl.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1240px;
  min-height: 70px;
  margin: 20px auto;
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.075px;
  text-transform: uppercase;
  background-color: #2C3E50;
}
.nav-menu {
  width: 680px;
}
.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none; 
  margin: 0;
  padding: 0;
}
.nav-menu__item:first-child {
  margin-left: 30px;
}
.nav-menu__item {
  margin-right: 35px; 
}
.nav-menu__item:last-child {
  margin-right: 15px; 
}
.nav-menu__link {
  color: #FFF;
  text-decoration: none;  
}
.nav-menu__link--active {
  padding: 11px 19px;
  margin-right: -19px;
  border-radius: 5px;
  background-color: #577EB3; 
}
.money {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 225px;
  min-height: 70px;
  background-color: #FFCD60;
  color: #2C3E50;
}
.money__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.075px;
  color: #2C3E50;
  text-decoration: none;
}
.money__title {
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.money__wrap {
  margin-top: 13px;
  text-align: right;
}
.money__amount {
  font-size: 18px;
  line-height: 16px;
  margin: 0;
}
.money__amount::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 14px;
  width: 15px;
  height: 15px;
  border-top: 3px solid #2C3E50;
  border-right: 3px solid #2C3E50;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.money__bonus {
  margin-right: 5px;
  font-size: 10px;
  line-height: 12px;
}
.money__ruble {
  margin-left: 2px;
}
.money__desc {
  position: absolute;
  top: 45px;
  left: 70px;
  min-width: 130px;
  padding: 10px; 
  background-color: #fff; 
  border: solid 1px blue;
  text-transform: none;
  opacity: 0;  
}
.money:hover .money__desc {
  opacity: 1;  
  border: solid 3px blue;
  border-radius: 10px;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-transform: translate(10px, 20px);
      -ms-transform: translate(10px, 20px);
          transform: translate(10px, 20px);
  text-transform: none;
}
.contact {
  text-align: right;
  text-transform: none;
  padding-top: 7px;
  padding-left: 38px;
}
.contact__link {
  text-decoration: none;
  color: #FFF;  
}
.contact__name {
  position: relative;
  margin: 0;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.407px;
}
.contact__name::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -11px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.contact__desc {
  font-size: 12px;
  line-height: 14px;
  color: #FFF;
}
